@font-face {
    font-family: Monserrat-Medium;
    src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
    background-color: #F6F6F6;
    padding-top: 4.5rem;
    font-family: OpenSans-Regular, 'Comic Sans MS', cursive;
}

.red{
    border-top: 1px solid #DC1818;
}

button:focus {outline:0;}

.bg-white {
    background-color: #FFFFFF;
}

.menu-wrapper{
    width:100%;
}

.responsive-image{
    width: 45% !important;
}

.navbar-toggler{
    position: absolute;
    top: 20px;
    right: 20px;

    line-height: 1;
    background: 0 0;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

.navbar-brand{
    margin: 0;
}

.navbar-toggler-icon {
    background-image: url("../images/toggler.png");
}

.nav-item .nav-link {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: #111111;
    font-family: Montserrat-Regular, 'Comic Sans MS', cursive;
}

.nav-link.active {
    color: #DC1818
}

.nav-link:hover{
    color: #DC1818;
    text-decoration: underline;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 20px 0 0 30px;
}

.rm-right {
    margin-left: auto !important;
}

.logo{
    width: 220px;
}

#logo-block {
    text-align: center;
    margin-top: 70px;
}

.wrapper-body {
    padding-top: 50px;
    /*margin-bottom: 80px;*/
}

.wrapper-page{
    padding-top: 60px;
    margin-bottom: 50px;
}

.wrapper-item {
    padding: 5px;
}

.item img {
    width: 100%;
}

.center-pagination {
    margin: 30px 0 30px 0;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: OpenSans-Regular, 'Comic Sans MS', cursive;
}

.pagination li {
    color: #8D8D8D;
    padding: 5px;
}

.pagination li a {
    color: #8D8D8D;
    padding: 5px;
}

.pagination li a:hover {
    text-decoration: none;
}

.pagination li.active {
    text-decoration: underline;
    color: #DC1818;
}

.footer {
    background-color: #111111;
    height: 60px;
}

.footer-wrapper {
    justify-content: center;
    height: 100%;
}

.footer-text {
    font-family: Montserrat-Regular, 'Comic Sans MS', cursive;
    font-size: 16px;
    margin: auto;
    color: white;
}

.copyright-link{
    color: inherit;
}

.copyright-link:hover{
    color: #DC1818;
    text-decoration: none;
}

.w3-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.wrapper-body-magazines{
    padding-top: 80px;
}

.wrapper-journal {
    margin: 40px 0 40px 0;
}

.wrapper-item-single-journal {
    padding: 15px 20px 20px 20px;
    background-color: white;
}

.alert-heading{
    text-align: center;
}

.item-link{
    width:100%;
    height:100%;
}

.heading-journal{
    letter-spacing: 10px;
    line-height: 60px;
    color: #DC1818;
    margin: 15px 0 10px 0;
    font-family: Monserrat-Medium, 'Comic Sans MS', cursive;
    font-size: 38px;
}

.heading-journal a{
    letter-spacing: 10px;
    line-height: 60px;
    color: #DC1818;
    margin: 15px 0 10px 0;
    font-family: Monserrat-Medium, 'Comic Sans MS', cursive;
    font-size: 38px;
}

.heading-journal a:hover{
    text-decoration: none;
}

.positions-block{
    padding-left: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
}

.position-text{
    margin: auto;
}

.coupon-input{
    display: inherit;
}

.position-img-container{
    text-align: center;
}

.position-img-wrapper{
    position: relative;
    cursor: pointer;
    /*max-width: 165px;*/
    /*max-height: 230px;*/
}

.position-chose{
    display: none;
    position: absolute;
    z-index: 1;
    top: 4px;
    right: 4px;
}

.position-price{
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.media-object{
    width: 100%;
    max-width: 165px;
    max-height: 230px;
}

#couponSuccess{
    margin-top: 15px;
}

.buy-form{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
}

#couponError{
    margin-top: 20px;
}

.buy-form .form-control:first-child{
    margin-top: 0;
}

.buy-form .form-control{
    margin-top: 20px;
}

#proceedPayment{
    margin-top: 20px;
}

.coupon-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.position-price-wrapper{
    text-align: center;
    background-color: white;
}

.accept-image-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(247, 247, 247, 0.63);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.accept-image{
    width: 100%;
    height: 100%;
}

@media (max-width: 900px) {
    .nav-item .nav-link{
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .wrapper-body-magazines{
        padding-top: 20px;
    }

    .wrapper-body{
        padding-top: 20px;
    }

    .wrapper-journal{
        margin: 20px 0 40px 0;
    }

    .navbar-nav{
        margin-top: 20px;
    }

    .navbar-expand-md .navbar-nav .nav-link{
        padding-left: 0;
        margin-bottom: 5px;
    }

    .wrapper-item {
        padding: 0;
    }

    .position-text{
        padding: 10% 0 !important;
    }

    .coupon-wrapper{
        flex-direction: column;
    }

    .coupon-input{
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .navbar-brand{
        float: left;
    }
}

@media (min-width: 767px) and (max-width: 1100px) {
    .navbar > .container, .navbar > .container-fluid {
        justify-content: space-around;
    }
}

@media (max-width: 600px) {
    .item {
        margin: 15px 25px;
    }
}

@media (max-width: 350px) {
    .navbar-brand {
        margin-right: 0;
    }

    .navbar-brand img {
        width: 200px;
    }
}

@media (max-width: 280px) {
    .navbar-expand-md {
        padding-left: 10px;
        padding-right: 8px;
    }
}

@media (min-width: 767px) and (max-width: 900px) {
    .logo{
        width: 180px;
        padding: 5px;
    }
}

.item{
    position: relative;
}

.preview {
    display: block;
    width: 100%;
    opacity:0.95;
    -moz-opacity:0.95;
    filter:alpha(opacity=95);
}

.preview:hover{
    opacity:1.0;
    -moz-opacity:1.0;
    filter:alpha(opacity=100);
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.item::before, .item::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #DC1818;
}

.preview::before, .preview::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: #DC1818;
}
.item:hover::before, .item:hover::after{
    width: 100%;
}

.item:hover .preview::before, .item:hover .preview::after{
    height: 100%;
}

.effect-picture::before, .effect-picture::after{
    transition-delay: 0.2s;
}
.effect-picture .preview::before, .effect-picture .preview::after{
    transition-delay: 0s;
}
.effect-picture::before{
    right: 0;
    top: 0;
}
.effect-picture::after{
    left: 0;
    bottom: 0;
}
.effect-picture .preview::before{
    left: 0;
    top: 0;
}
.effect-picture .preview::after{
    right: 0;
    bottom: 0;
}
.effect-picture:hover::before, .effect-picture:hover::after{
    transition-delay: 0s;
}
.effect-picture:hover .preview::before, .effect-picture:hover .preview::after{
    transition-delay: 0.2s;
}

#submitCoupon{
    margin-left: 20px;
}

.thumb-image{
    width:100%;
}

.paypal-button-logo{
    height: 20px;
}

.position-text{
    padding: 50% 0;
}

.position-text span{
    color: #DC1818;
    font-size: 20px;
    font-weight: bold;
}