@font-face {
    font-family: Monserrat-Medium;
    src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
    background-color: #F6F6F6;
    padding-top: 4.5rem;
    font-family: OpenSans-Regular, 'Comic Sans MS', cursive;
}

button:focus {outline:0;}

.container {
    padding: 0;
}

.navbar-expand-md {
    min-height: 80px;
}

.bg-white {
    background-color: #FFFFFF;
}

.menu-wrapper{
    width:100%;
}

.navbar-toggler{
    position: absolute;
    top: 25px;
    right: 20px;

    line-height: 1;
    background: 0 0;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

.navbar-expand-md .navbar-collapse{
    min-height: 63px;
}

.navbar-brand{
    margin: 0;
}

.navbar-toggler-icon {
    background-image: url("../images/toggler.png");
}

.nav-item .nav-link {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: #111111;
    font-family: Montserrat-Regular, 'Comic Sans MS', cursive;
}

.nav-link.active {
    color: #DC1818
}

.nav-link:hover{
    color: #DC1818;
    text-decoration: underline;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 30px;
}

@media (min-width: 768px) {
    .navbar-brand{
        /*display: inline-block !important;*/
        float: left;
    }
}

.rm-right {
    margin-left: auto !important;
}

#logo-block {
    text-align: center;
    margin-top: 70px;
}

.wrapper-body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.wrapper-item {
    padding: 5px;
    margin-top: 20px;
}

.wrapper-item:hover {
    outline: 2px solid #DC1818;
}

.item img {
    width: 100%;
}

.center-pagination {
    margin: 70px 0 110px 0;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: OpenSans-Regular, 'Comic Sans MS', cursive;
}

.pagination li {
    color: #8D8D8D;
    padding: 5px;
}

.pagination li a {
    color: #8D8D8D;
    padding: 5px;
}

.pagination li a:hover {
    text-decoration: none;
}

.pagination li.active {
    text-decoration: underline;
    color: #DC1818;
}

/*footer styles*/
.footer {
    background-color: #111111;
    height: 60px;
}

.footer-wrapper {
    justify-content: center;
    height: 100%;
}

.footer-text {
    font-family: Montserrat-Regular, 'Comic Sans MS', cursive;
    font-size: 16px;
    margin: auto;
    color: white;
}

.copyright-link{
    color: inherit;
}

.copyright-link:hover{
    color: #DC1818;
    text-decoration: none;
}


/*footer styles*/

/*for animation*/
.w3-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.navbar-brand {
    /*display: none;*/
}

.wrapper-body-magazines{
    padding-top: 120px;
}

/*for js*/

/* page about journal */
.wrapper-journal {
    margin: 70px 0 100px 0;
}

.wrapper-item-single-journal {
    padding: 15px 20px 50px 20px;
    background-color: white;
}

.alert-heading{
    text-align: center;
}

.item-link{
    width:100%;
    height:100%;
}

.heading-journal {
    letter-spacing: 10px;
    line-height: 60px;
    color: #DC1818;
    margin: 15px 0 10px 0;
    font-family: Monserrat-Medium, 'Comic Sans MS', cursive;
    font-size: 38px;
}

/* page about journal */

/* media */
@media (min-width: 767px) and (max-width: 1100px) {
    .navbar > .container, .navbar > .container-fluid {
        justify-content: space-around;
    }
}

@media (max-width: 600px) {
    .item {
        padding: 20px 60px;
    }
}

@media (max-width: 350px) {
    .navbar-brand {
        margin-right: 0;
    }

    .navbar-brand img {
        width: 200px;
    }
}

@media (max-width: 280px) {
    .navbar-expand-md {
        padding-left: 10px;
        padding-right: 8px;
    }
}

@media (min-width: 767px) and (max-width: 900px) {
    .logo{
        width: 180px;
        padding: 5px;
    }
}

/* media */
